[BEGINVDF]
Comment=Workaround patch for Gothic and Gothic 2 NotR%%NThis patch provides various workarounds for story bugs in mods. See readme.
BaseDir=.\
VDFName=.\Workaround.vdf

[FILES]
README_Workaround.txt

; Resources (list the specific files from _work here)
; _work\* -r

; Script files
Ninja\Workaround\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
